<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/marked@5.0.2/marked.min.js"></script>
    <title>GPT TRPG 게임</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="background"></div>
    <img src="static/title.png" alt="게임 로고" onclick="goToRoot()">
    <div id="image-container" class="image-container"></div>
    <div id="response" class="response-container"></div>
    <button type="button" id="status">캐릭터 정보</button>
    <div class="button-container">
    <button type="button" id="select1">1번</button>
    <button type="button" id="select2">2번</button>
    <button type="button" id="select3">3번</button>
    </div>
    <button type="button" id="gmstart">게임 시작</button>
    <form id="gpt-form">
        <textarea id="prompt" name="prompt" rows="4" cols="50" oninput="autoResize(this)" required></textarea><br><br>
        <button type="button" id="restart">게임 재시작</button> <!-- 새 버튼 추가 -->
    </form>
    <script src="/static/script.js"></script>
</body>
</html>

