<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/marked@5.0.2/marked.min.js"></script>
    <title>GPT TRPG 게임</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="background"></div>
    <img src="static/title.png" alt="게임 로고">
    <div id="character-image-container" class="character-image-container"></div>
    <div id="response" class="response-container"></div>
    <button type="button" id="status">캐릭터 정보</button>
    <div class="button-container">
    <button type="button" id="select1">버튼1</button>
    <button type="button" id="select2">버튼2</button>
    <button type="button" id="select3">버튼3</button>
    </div>

    <form id="gpt-form">
        <textarea id="prompt" name="prompt" rows="4" cols="50" oninput="autoResize(this)" required></textarea><br><br>
        <button type="submit" id="send">전송</button>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
